---
# here you will put the new username for your cluster user and the password which will be used to login
uusername: test
upassword: test
ugroups: test,test2
upassword_salt: testsalt
uauthorized_key: "/home/test/.ssh/id_rsa.pub" # local public key which should be added to the 